{% extends 'base.html.twig' %}

{% block body %}
<div class="category-content"

    {% if category.description %}
        <p>{{ category.description }}</p>
    {% endif %}

    {% if category.media %}
        <img src="{{ asset('media/' ~ category.media.path) }}" alt="{{ category.name }}">
    {% endif %}
</div>

    {% block head %}
    <style>

        .category-content {
            margin-top: 55px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            }
        
        .category-content img {
            width: 30%;  
            height: 20%;
            object-fit: cover;
        }
        .products {
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between;
        }

        .product {
            position: relative;
            width: 30%;
            height: 100%;
            perspective: 1000px;
            margin: 20px;
        }


        .product-inner {
            position: relative;
            width: 100%;
            height: 700px; 
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .product:hover .product-inner {
            transform: rotateY(180deg);
        }

        .product-image, .product-description {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .product-image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .product-description {
            transform: rotateY(180deg);
            box-sizing: border-box;
            padding: 10px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.7);
            font-size: 1.5em;
        }
    </style>
    {% endblock head %}

    <div class="products">
        {% for product in category.products %}
            <div class="product">
                <div class="product-inner">
                    {% if product.media %}
                        <div class="product-image" style="background-image: url('{{ asset('media/' ~ product.media.path) }}');"></div>
                    {% endif %}
                    <div class="product-description">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description|striptags }}</p>
                    </div>
                </div>
                <p>{{ product.priceHT }} €</p>
                <a href="{{ path('cart_add', {'id': product.id}) }}">Ajouter au panier</a>
            </div>
        {% else %}
            <p>Pas de produits trouvés pour cette catégorie.</p>
        {% endfor %}
    </div>
{% endblock %}
